DOMAIN="localhost:2345"
DB_CONNECTION_STRING="postgresql://test_xxx_user:dummypassword123@localhost:2346/test_xxx_db"
EMAILABLE_API_KEY=""
# NUXT_SESSION_PASSWORD is automatically used by nuxt-auth-utils
NUXT_SESSION_PASSWORD="a-secure-password-with-at-least-32-characters"
SESSION_MAX_AGE_DAYS="90"
SMTP2GO_API_KEY=""
