B2_APPLICATION_KEY=""
B2_APPLICATION_KEY_ID=""
B2_BUCKET_ID=""
B2_BUCKET_NAME=""
DOMAIN="localhost:3345"
DB_CONNECTION_STRING="postgresql://test_notyloops_user:dummypassword123@localhost:2346/test_notyloops_db"
EMAILABLE_API_KEY=""
GOOGLE_CLOUD_API_KEY=""
# NUXT_SESSION_PASSWORD is automatically used by nuxt-auth-utils
NUXT_SESSION_PASSWORD="a-secure-password-with-at-least-32-characters"
PLUNK_SECRET_KEY=""
SESSION_MAX_AGE_DAYS="30"
SMTP2GO_API_KEY=""
STRIPE_ENDPOINT_SECRET=""
STRIPE_SECRET_API_KEY=""